<div class="container">
  <%= @flat.name %>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.number_of_guests %></p>
  <p><%= @flat.price_per_night %></p>

  <%= link_to "Home", flats_path %>
</div>
